<!--
NOTES:
This partial must be used to show the top bar for user.restaurant.
Like the navbar, it allows easy navigational access to functions.
-->

<div class="sidebar">
    <div class="text-center my-4">
        <h4><a class="text-light letter-spacing" href="/user/profile">Restaurant Profile</a></h4>
    </div>
    <div class="text-center my-4">
        <h4><a class="text-light letter-spacing" href="/user/modify-items">Modify Items</a></h4>
    </div>
    <div class="text-center my-4">
        <h4><a class="text-light letter-spacing" href="/user/retrieve-orders">User Orders</a></h4>
    </div>
    <div class="text-center my-4">
        <h4><a class="text-light letter-spacing" href="/user/show-reservations-restaurant">Check Reservations</a></h4>
    </div>
</div>