<!--
NOTES:
This partial must be used to show the top bar for user.customer.
Like the navbar, it allows easy navigational access.
-->

<ul class="nav justify-content-center userNavBar text-center">
    <li class="nav-item">
        <a class="nav-link text-light" aria-current="page" href="/user/profile">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" aria-current="page" href="/user/retrieve-orders">Orders</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" aria-current="page" href="/user/show-reservations-customer">Reservations</a>
    </li>
</ul>