<ul class="nav justify-content-center userNavBar text-center">
    <li class="nav-item">
        <a class="nav-link text-light" aria-current="page" href="/user/profile">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" aria-current="page" href="/user/orders">Orders</a>
    </li>

</ul>