<!--
NOTES:
Home Webpage
-- Nothing to see here.
-- It has a button to guide users to Order Page or Admin Page.
-->

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DinnerVerse | Home</title>

</head>

<body>
    {{>navbar}}
    <section id="/">
        <div class="container-fluid px-0 top-banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6">
                        <h2>Good Food, Quicker Access</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse neque erat, tristique ac
                            nibh a, congue dignissim nisi. Integer porta arcu nec diam fringilla, vel consectetur ipsum
                            pellentesque.</p>

                        <div class="mt-4">
                            {{#if user}}
                                {{#if (eq user.role 'customer')}}
                                    <a href="/select-restaurant">
                                        <button class="main-btn">Order now <i class="fas fa-shopping-basket ps-3"></i></button>
                                    </a>
                                {{else}}
                                    <a href="/user/profile">
                                        <button class="admin-btn">Manage Restaurant <i class="fas fa-shopping-basket ps-3"></i></button>
                                    </a>
                                {{/if}}
                            {{else}}
                                <a href="/login">
                                    <button class="main-btn">Order now <i class="fas fa-shopping-basket ps-3"></i></button>
                                </a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="my-5">
        <div class="container">
            <div class="row">
                <div class="card col-md-7 ">
                    <img src="/image/web_photos/hakka_food.jpg" class="img-fluid py-2" alt="">
                </div>
                <div class="col-md-5 mt-md-5 mt-1">
                    <h2>We Make Placing An Order Easy</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non viverra metus.
                        Fusce vitae risus ut neque ultrices pellentesque tincidunt ut massa. Mauris sit amet arcu ligula. </p>
                    <button class="main-btn">Learn More</button>
                </div>
            </div>
        </div>
    </section>

    <br>
    <section id="subscription" style="padding-top: 100px;">>
        <div class="container">
            <div class="text-center">
                <h2 class="mb-0">Subscribe To Our Newsletter And Get 25% Off First Order</h2>
                <p class="text-color">Limited time offer only.</p>
                <div class="text-center my-5">
                    <form action="">
                        <div class="row">
                            <div class="col-md-4 offset-md-3 ">
                                <input class="mt-1 form-control" type="text" placeholder="Enter e-mail address...">
                            </div>
                            <div class="col-md-2 mt-2 ">
                                <button class="main-btn">Subscribe</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--
    <section id="footer">

        <div class="text-center">
            <a href="">Resiter</a>
            <a href="">Forum</a>
            <a href="">Affilate</a>
            <a href="">FAQ</a><br>
            <small class="mt-5 text-light">@ 2022. Foodie. All rights reserved.</small>
        </div>
    </section>
    -->

</body>

</html>