<!--
NOTES:
SELECT RESTAURANT Webpage, (/select-restaurant)
-- A webpage dedicated for user.customer to select a restaurant where they want to order from.
-- Will show every saved/registered restaurant from MongoDB.
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Restaurant</title>
</head>

<body>
    {{>navbar}}
    <div class="container restaurant-container">
        <div class="row">
            {{#each restaurants}}
                <div class="col-md-3 mb-4">
                    <div class="card restaurant-card">
                        <a href="/create-order?restaurantId={{this._id}}"  class="card restaurant-card">
                            <img src="/image/restaurant_logos/{{this.alias}}_logo.jpg" class="card-img-center" alt="{{this.name}}">
                        </a>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
<script>
    // Reset cart when page loads
    document.addEventListener("DOMContentLoaded", function() {
        resetCart();
    });
</script>
</body>
</html>